<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/photo_2023_12_15_04_24_47"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Audience"
        tools:targetApi="31">
        <activity
            android:name=".ARAud"
            android:exported="false"
            android:label="@string/title_activity_araud"
            android:theme="@style/Theme.Audience" />
        <activity
            android:name=".ArMenu"
            android:exported="true"
            android:label="@string/title_activity_ar_menu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Audience" />
        <activity
            android:name=".SearchActivity"
            android:exported="true"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Audience" />
        <activity
            android:name=".ChooseActivity"
            android:exported="true"
            android:label="@string/title_activity_choose"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Audience" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Audience">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>